package components

css animateToCenter() {
	transform: translateX(50vw) translateX(-50%);
}

templ AnimatedSidebar(isCentered bool) {
	<aside
		id="aside"
		class={ "h-full mx-auto transition flex flex-col p-4", templ.KV(animateToCenter(), isCentered) }
	>
		<label
			for="sidebar-input"
			class="h-full select-none flex flex-col"
		>
			<h1 class="text-6xl">
				untitled
				<br/>
				hackathon
				<br/>
				game
			</h1>
			{ children... }
		</label>
	</aside>
}
