{{define "index"}}

<body class="absolute top-0 bottom-0 left-0 right-0 font-mono flex flex-row" hx-ext="ws" ws-connect="/chatroom">
    <aside class="flex flex-col h-full mx-auto">
        <h1 class="text-6xl">
            untitled <br>
            hackathon <br>
            game
        </h1>

        <!-- <div id="logged-in-as" class="flex flex-row">
        </div>

        <ul id="messages">
        </ul>

        {{template "chat-form" .}} -->
    </aside>

    <main>
    </main>
</body>

{{end}}