package view

templ ApiMessageSent(name string, text string) {
	<ul id="messages" hx-swap-oob="beforeend">
		<li class="flex flex-row">
			<img src="{{.Icon}}" alt="user image"/>
			<p>
				{ name }: { text }
			</p>
		</li>
	</ul>
	// empty chat form 
	@JoinRoomForm()
}
