package view

templ Index() {
	@Layout() {
		<body hx-ext="ws" ws-connect="/ws" class="absolute top-0 bottom-0 left-0 right-0 font-mono flex flex-row">
			<aside class="flex flex-col h-full mx-auto">
				<h1 class="text-6xl">
					untitled
					<br/>
					hackathon
					<br/>
					game
				</h1>
				<div id="loading-spinner" class="border-black border-r-2 border-y-2 rounded-full w-8 h-8"></div>
			</aside>
			<main></main>
		</body>
	}
}
