package view

templ JoinRoomForm() {
	<form id="interact-with-room" ws-send class="flex flex-col">
		<label>name: <input name="name" type="text"/></label>
		<button type="submit">join</button>
	</form>
}
